.l-wrap-inner{
    width: 1080px;
    margin: 0 auto;


    &--full{
        width: 1280px;
        
    }

    &--topa{
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        // margin-bottom: 60px;
        align-items: center;
        width: 1080px;
        
    }



}